<toolbar></toolbar>

<div id="main-content-detail">
    <div class="container-fluid">
        <div id="organization-detail">
            <div class="row">
                <div class="col-md-9 marDetailLeftTitle">
                    <h1>{{category.name}}</h1>
                    <p class="description">{{category.description}}</p>

                </div>
                <div class="col-md-2 ptop">
                    <p class="profile-button" data-toggle="modal" data-target="#myEditModal"><span
                            class="glyphicon glyphicon-edit"></span> EDIT CATEGORY</p>
                </div>
            </div>

            <div id="myEditModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <form #organizationForm="ngForm"
                                  (ngSubmit)="onSubmit(categoryForm)"
                                  name="form-new-organization"
                                  role="form">
                                <section class="forms-section">
                                    <h2>Edit Category Name</h2>

                                    <div class="input-group forms-input-group"
                                         title="Categoy name">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-pencil"></i></span>
                                        <input id="categoryName"
                                               name="category-name"
                                               class="form-control"
                                               type="text"
                                               placeholder="Category name"
                                               required
                                               #organizationName="ngForm"
                                               [(ngModel)]="category.name"
                                               (ngControl)="categoryName">
                                    </div>
                                </section>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <br>

            <div class="fabsContainer">
                <h2 class="marDetailLeftSubTitle">Topics</h2>
                <a class=" marButtonLeft materialize-btn-floating materialize-btn-large materialize-waves-effect materialize-waves-light materialize-red"
                   (click)="toAddNewTopic(category.categoryId)" name="new-topic"><i class="material-icons">add</i></a>
            </div>

            <div class="organization-arrow">
                <button class="paginate left" (click)="previousTopPage()" [style.display]="myLeftTopDisplay">
                    <i></i><i></i></button>
            </div>
            <div *ngFor="#topic of topicSubSet">
                <div class="black-block" (click)="toTopic(topic.topicId)" [attr.name]="topic.name">
                    <h3 class="text-center">{{topic.name}}</h3>
                    <h6 class="text-center"><i class="glyphicon glyphicon-pencil"></i> {{topic.description}}</h6>
                </div>
            </div>
            <div class="organization-arrow">
                <button class="paginate right" style="float: right" (click)="nextTopPage()"
                        [style.display]="myRightTopDisplay"><i></i><i></i></button>
            </div>

            <div class="fabsContainer" style="margin-top: 12em">
                <h2 class="marDetailLeftSubTitle">Cards</h2>
                <a class="marButtonLeft materialize-btn-floating materialize-btn-large materialize-waves-effect materialize-waves-light materialize-red"
                   (click)="toAddNewCard(category.categoryId)" name="new-card"><i class="material-icons">add</i></a>
            </div>

            <ul style="margin-left: 3em">
                <card-detail *ngFor="#card of cards" data-toggle="modal" data-target="#cardModal"
                             [card]="card"
                             [cardClassName]="'card-small'"
                             [clickable]="true"
                             (cardClick)="onCardClick($event)">
                </card-detail>
            </ul>

            <div id="cardModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog flex-container">
                    <card-detail [card]="currentCard"
                                 [cardClassName]="'card-large'"
                                 class="flex-item"></card-detail>
                </div><!-- /.modal-dialog -->
            </div>

            <div class="fabsContainer">
                <h2 class="marDetailLeftSubTitle">Tags</h2>
                <a class="marButtonLeft materialize-btn-floating materialize-btn-large materialize-waves-effect materialize-waves-light materialize-red"
                   data-toggle="modal" data-target="#tagModal"><i class="material-icons">add</i></a>
            </div>

            <div class="tagContainer">
                <div *ngFor="#tag of selectedTags" class="tagBlock">
                    <p class="text-center"><i class="glyphicon glyphicon-tag tagIcon"
                                              style="font-size: 12px;padding-right: 0.5em"></i>{{tag.name}}</p>
                </div>
            </div>

            <div id="tagModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add more tags</h4>
                        </div>
                        <div class="modal-body">
                            <div class="tagList well">
                                <form role="form">
                                    <div *ngFor="#tag of tags" class="checkbox">
                                        <label class="tagCheckbox">
                                            <input (change)="onTagClick(tag)" type="checkbox">{{tag.name}}
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" (click)="onEditClick(category.name)"
                                    data-dismiss="modal">Save
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fabsContainer">
                <h2 class="marDetailLeftSubTitle">Sessions</h2>
                <a class="marButtonLeft materialize-btn-floating materialize-btn-large materialize-waves-effect materialize-waves-light materialize-red"
                   (click)="toAddNewSession(category.categoryId)"><i class="material-icons">add</i></a>
            </div>


            <div class="organization-arrow" style="margin-top: -80px">
                <button class="paginate left" (click)="previousSesPage()" [style.display]="myLeftSesDisplay">
                    <i></i><i></i></button>
            </div>
            <div *ngFor="#session of sessionSubset">
                <div class="black-block" (click)="toSession(session.sessionId)" [attr.name]="session.sessionId">
                    <h3 class="text-center">Session {{session.sessionId}}</h3>
                    <h6 class="text-center"><i class="glyphicon glyphicon-user"></i> {{session.participantAmount}}
                        Participant(s)</h6>
                    <h6 class="text-center"></h6>
                </div>
            </div>
            <div class="organization-arrow" style="margin-top: -80px">
                <button class="paginate right" style="float: right" (click)="nextSesPage()"
                        [style.display]="myRightSesDisplay"><i></i><i></i></button>
            </div>

        </div>
    </div>
</div>