<toolbar></toolbar>

<div id="main-content">
    <div class="container-fluid">
        <div id="organization-detail">

            <h1>{{category.name}}</h1>
            <p class="description">{{category.description}}</p>

            <h2 style="padding-top: 1em">Topics</h2>
            <ul>
                <table style="width:100%">
                    <tr class="spaceUnder" *ngFor="#topic of topics">
                        <td class="categoryName" (click)="toTopic(topic.topicId)" >{{topic.name}}</td>
                        <td class="description" style="margin-left: 3em">{{topic.description}}</td>
                    </tr>
                </table>
            </ul>

            <button class="addNewButton" (click)="toAddNewTopic(category.categoryId)"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Add new Topic</button>


            <h2>Tags</h2>

            <button class="addNewButton" data-toggle="modal" data-target="#myModal" ><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Add More Tags</button>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add more tags</h4>
                        </div>
                        <div class="modal-body">
                            <div class="tagList well">
                                <form role="form">
                                    <div *ngFor="#tag of tags" class="checkbox">
                                        <label class="tagCheckbox">
                                            <input type="checkbox">{{tag.name}}
                                        </label>
                                    </div>
                                </form>
                            </div>                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>