<toolbar></toolbar>

<div id="main-content">
    <div class="container-fluid">
        <div id="organization-detail">
            <div class="row">
                <div class="col-md-10 ptop">

                    <h1>{{category.name}}</h1>
                </div>
                <div class="col-md-2 ptop">
                    <p class="profile-button" data-toggle="modal" data-target="#myEditModal"><span
                            class="glyphicon glyphicon-edit"></span> EDIT CATEGORY</p>
                </div>
            </div>

            <div id="myEditModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <form #organizationForm="ngForm"
                                  (ngSubmit)="onSubmit(categoryForm)"
                                  name="form-new-organization"
                                  role="form">
                                <section class="forms-section">
                                    <h2>Edit Category Name</h2>

                                    <div class="input-group forms-input-group"
                                         title="Categoy name">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-pencil"></i></span>
                                        <input id="categoryName"
                                               name="category-name"
                                               class="form-control"
                                               type="text"
                                               placeholder="Category name"
                                               required
                                               #organizationName="ngForm"
                                               [(ngModel)]="category.name"
                                               (ngControl)="categoryName">
                                    </div>
                                </section>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <p class="description">{{category.description}}</p>
            <br>
            <hr>


            <h2>Topics</h2>

            <div class="organization-arrow" >
                <button class="paginate left" (click)="previousTopPage()"  [style.display]="myLeftTopDisplay"><i></i><i></i></button>
            </div>
            <div *ngFor="#topic of topicSubSet">
                <div class="black-block" (click)="toTopic(topic.topicId)">
                    <h3 class="text-center">{{topic.name}}</h3>
                    <h6 class="text-center"><i class="glyphicon glyphicon-pencil"></i> {{topic.description}}</h6>
                </div>
            </div>
            <div class="organization-arrow">
                <button class="paginate right" style="float: right" (click)="nextTopPage()"  [style.display]="myRightTopDisplay"><i></i><i></i></button>
            </div>

                <div style="margin-top: 12em">
            <button class="add-new-button" (click)="toAddNewTopic(category.categoryId)"><i
                    class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Create new Topic
            </button>
                </div>

            <hr>

            <h2>Cards</h2>

            <ul>
                <card-detail *ngFor="#card of cards" data-toggle="modal" data-target="#cardModal"
                             [card]="card"
                             [cardClassName]="'card-small'"
                             [clickable]="true"
                             (cardClick)="onCardClick($event)">
                </card-detail>
            </ul>

            <div id="cardModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog flex-container">
                        <card-detail [card]="currentCard"
                                     [cardClassName]="'card-large'"
                                     class="flex-item"></card-detail>
                </div><!-- /.modal-dialog -->
            </div>


            <button class="add-new-button" (click)="toAddNewCard(category.categoryId)">
                <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Create new Card
            </button>

            <hr>


            <h2>Tags</h2>
            <ul>
                <table style="width:100%">
                    <tr class="spaceUnder" *ngFor="#tag of tags">
                        <p class="bullet-point">{{tag.name}}</p>
                    </tr>
                </table>
            </ul>

            <button class="add-new-button" data-toggle="modal" data-target="#tagModal"><i
                    class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Add More Tags
            </button>

            <div id="tagModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add more tags</h4>
                        </div>
                        <div class="modal-body">
                            <div class="tagList well">
                                <form role="form">
                                    <div *ngFor="#tag of tags" class="checkbox">
                                        <label class="tagCheckbox">
                                            <input type="checkbox">{{tag.name}}
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <h2>Sessions</h2>

            <ul>
                <div class="row" *ngFor="#session of sessions">

                    <div class="col-md-2 spaceUnder">
                        <p class="categoryName" (click)="toSession(session.sessionId)">{{session.sessionId}}</p>
                    </div>

                </div>
            </ul>

            <button class="add-new-button" (click)="toAddNewSession(category.categoryId)">
                <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Create new Session
            </button>

        </div>
    </div>
</div>