<toolbar></toolbar>

<div id="main-content-detail">
    <div class="forms container-fluid flex-container" >
        <div class="forms-panel panel col-sm-6 flex-item">

            <div class="panel-heading">
                <h1 class="separator-dotted">Create a new organization</h1>

                <error-dialog *ngIf="errorMessages.length > 0" [messages]="errorMessages"></error-dialog>
                <!--<div class="col-sm-12 col-md-6 col-md-offset-3">
                    <error-dialog *ngIf="isError"></error-dialog>
                </div>-->
            </div>
            <div class="panel-body">
                <form #organizationForm="ngForm"
                      (ngSubmit)="onSubmit(organizationForm)"
                      name="form-new-organization"
                      role="form"
                id="organization-form">
                    <section class="forms-section">
                        <h2>General information</h2>

                        <div class="input-group forms-input-group"
                             [class.has-error]="!organizationName.valid && !organizationName.pristine"
                             title="Organization name">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                            <input id="organizationName"
                                   name="organization-name"
                                   class="form-control"
                                   type="text"
                                   placeholder="Organization name"
                                   required
                                   #organizationName="ngForm"
                                   [(ngModel)]="organization.name"
                                   (ngControl)="organizationName">
                        </div>
                    </section>

                    <section class="forms-section">
                        <h2>Organization members</h2>
                        <div *ngFor="#u of usersToInvite; #i = index"
                             class="input-group forms-input-group"
                             [class.has-error]="!userEmail.valid && !userEmail.pristine">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>

                            <input class="email-input form-control forms-input-small"
                                   type="email"
                                   placeholder="Invite user (email)"
                                   #userEmail="ngForm"
                                   [(ngModel)]="u.email"
                                   (ngControl)="userEmail">

                    <span *ngIf="i != 0"
                          class="input-group-addon forms-input-addon-remove red"
                          (click)="removeUserFromUsersToInvite(i)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </span>
                        </div>

                        <div class="forms-input-group">
                            <button type="button"
                                    id="add-user-btn"
                                    class="btn btn-default pull-right"
                                    (click)="addUserEntry()">
                                <span class="green"><i class="glyphicon glyphicon-plus"></i></span> Add user
                            </button>
                        </div>
                    </section>

                    <section>
                        <div class="forms-input-group clear-both text-center">
                            <button type="submit"
                                    name="add-organization">
                                <i class="glyphicon glyphicon-floppy-disk"></i> Create
                            </button>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>