<toolbar></toolbar>

<div id="main-content">
    <div class="forms container-fluid flex-container">
        <div class="forms-panel panel col-sm-6 flex-item">

            <div class="panel-heading">
                <h1 class="separator-dotted">Create a new category</h1>

                <div id="error" *ngIf="errors.length > 0" class="alert alert-danger">
                    <ul>
                        <li *ngFor="#error of errors; #i = index">
                            {{error}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <form #organizationForm="ngForm"
                      (ngSubmit)="onSubmit(organizationForm)"
                      name="form-new-category"
                      role="form">
                    <section class="forms-section">
                        <h2>General information</h2>

                        <div class="input-group forms-input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                            <input id="categoryName"
                                   name="category-name"
                                   class="form-control"
                                   type="text"
                                   placeholder="Category name"
                                   required
                                   #categoryName="ngForm"
                                   [(ngModel)]="form.name"> </div>
                        <div class="input-group forms-input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            <textarea  id="categoryDescription"
                                    name="category-description"
                                    class="form-control"
                                    type="text"
                                    placeholder="Description for this category..."
                                    #categoryDescription="ngForm"
                                    [(ngModel)]="form.description"></textarea>
                        </div>

                    </section>



                    <section class="forms-section">
                        <h2>Tags</h2>
                        <div class="input-group forms-input-group">
                            <input type="text" class="form-control" name="tagSearch" placeholder="Search for tags...">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        </div>


                        <div class="tagList well">
                                    <form role="form">
                                        <div *ngFor="#tag of tags" class="checkbox">
                                            <label class="tagCheckbox">
                                                <input type="checkbox">{{tag.name}}
                                            </label>
                                        </div>

                                       <!-- <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Training 2
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Training 3
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Training 4
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Training 5
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Training 1
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Training 2
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Training 3
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Training 4
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Training 5
                                            </label>
                                        </div>-->
                                    </form>
                        </div>
                    </section>
                    <section>
                        <div class="forms-input-group clear-both text-center">
                            <button type="submit"
                                    name="add-category">
                                <i class="glyphicon glyphicon-floppy-disk"></i> Create
                            </button>
                        </div>
                    </section>
                </form>
            </div>
        </div>
        </div>
</div>