<toolbar></toolbar>


<div id="main-content">
    <div class="container-fluid">
        <div id="organization-detail">

        <h1>{{organization.name}}</h1>

        <h2>Members</h2>
        <ul>
            <table style="width:100%" id="memberTable">
                <tr class="spaceUnder" *ngFor="#member of members">
                    <td class="imageTable"><img class="memberprofile-picture" src="{{ member.profilePictureUrl }}"></td>
                    <td class="nameTable">{{member.name}}</td>
                    <td>{{member.email}}</td>
                </tr>
            </table>
        </ul>

        <h2>Categories</h2>
        <ul>
            <table style="width:100%" id="categoryTable">
            <tr class="spaceUnder" *ngFor="#category of categories">
                    <td class="categoryName" (click)="toCategory(category.categoryId)">{{category.name}}</td>
                    <td class="description" style="margin-left: 3em">{{category.description}}</td>
            </tr>
            </table>

        </ul>


        <button class="addNewButton" (click)="toAddNewCategory(organization.organizationId)"><i class="glyphicon glyphicon-plus"></i>Add new Category</button>
        </div>
    </div>
</div>