<form (ngSubmit)="onSubmit()" id="form-sign-up" name="form-sign-up"  role="form" style="display: none;">

    <div id="error" *ngIf="errors.length > 0" class="alert alert-danger">
        <ul>
            <li *ngFor="#error of errors; #i = index">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="forms-input-group input-group forms-default">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

        <input name="username"
               type="text"
               class="form-control input-first"
               id="username-reg"
               placeholder="Username"
               required
               [(ngModel)]="form.username"
        >

        <input name="name"
               type="text"
               class="form-control"
               id="name"
               placeholder="Name"
               required
               [(ngModel)]="form.name"
        >

        <input name="surname"
               type="text"
               class="form-control"
               id="surname"
               placeholder="Surname"
               required
               [(ngModel)]="form.surname"
        >

    </div>

    <div class="input-group forms-default">
        <span class="input-group-addon"><i class="glyphicon glyphicon-send"></i></span>

        <input name="email"
               type="email"
               class="form-control"
               id="email"
               placeholder="Email"
               required
               [(ngModel)]="form.email"
        >
    </div>

    <div class="input-group forms-default">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

        <input name="password"
               type="password"
               class="form-control"
               id="password-reg"
               placeholder="Password"
               required
               [(ngModel)]="form.password"
        >

    </div>

    <div class="input-group forms-default">
        <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>

        <input name="verify-password"
               type="password"
               class="form-control"
               id="verify-password"
               placeholder="Verify password"
               required
               [(ngModel)]="form.verifyPassword"
        >

    </div>

    <input type="submit" value="Sign Up"/>

</form>
