<toolbar></toolbar>

<div id="main-content">
    <div class="container-fluid">
        <div id="organization-detail">
            <div class="row">
                <div class="col-md-10 ptop">
                    <h1>{{topic.name}}</h1>
                    <p class="description">{{topic.description}}</p>
                </div>
                <div class="col-md-2 ptop">
                    <p class="profile-button" data-toggle="modal" data-target="#myEditModal"><span
                            class="glyphicon glyphicon-edit"></span> EDIT TOPIC</p>
                </div>
            </div>

            <div id="myEditModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <form #organizationForm="ngForm"
                                  (ngSubmit)="onSubmit(categoryForm)"
                                  name="form-new-organization"
                                  role="form">
                                <section class="forms-section">
                                    <h2>Edit Topic Name</h2>

                                    <div class="input-group forms-input-group"
                                         title="Topic name">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-pencil"></i></span>
                                        <input id="topicName"
                                               name="topic-name"
                                               class="form-control"
                                               type="text"
                                               placeholder="Topic name"
                                               required
                                               #organizationName="ngForm"
                                               [(ngModel)]="topic.name"
                                               (ngControl)="topicName">
                                    </div>
                                </section>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <br>
            <hr>

            <h2 style="padding-top: 1em">Cards</h2>

            <ul>
                <card-detail *ngFor="#card of cards"
                             [card]="card"
                             [cardClassName]="'card-small'"
                             (click)="onCategoryCardClick(card)">
                </card-detail>
            </ul>

            <button (click)="openAddCardModal()" class="addNewButton" data-toggle="modal" data-target="#myCardModal"><i
                    class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Add new Card
            </button>

            <div id="myCardModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add new cards</h4>
                        </div>
                        <div class="modal-body">

                            <ul>
                                <card-detail *ngFor="#catCard of categoryCards"
                                             [card]="catCard"
                                             [cardClassName]="'card-small'"
                                             (click)="onCategoryCardClick(catCard)">
                                </card-detail>
                            </ul>

                        </div>
                        <div class="modal-footer">
                            <button (click)="onAddCardsClick()"
                                    name="add-card"
                                    class="btn btn-default"
                                    data-dismiss="modal">
                                <i class="glyphicon glyphicon-floppy-disk"></i> Create
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

