<toolbar></toolbar>
<div class="container">

    <div class="row">
        <div class="col-md-2">
            <img id="userprofile-picture" src="img/image.jpg">
        </div>

        <div class="col-md-8 userprofile-details">
            <h1 id="user-fullname">{{ user.fullName }}</h1>
            <h3 id="user-email">{{ user.email }}</h3>
        </div>

        <div class="col-md-2">
            <p class="profile-button"><span class="glyphicon glyphicon-edit"></span> EDIT PROFILE</p>
            <p><span class="glyphicon"></span></p>
        </div>
    </div>

    <div class="row organizations">
        <h2>Organizations</h2>

        <div *ngIf="organizations.length == 0">
            <p>{{ user.fullName }} is not part of any organization.</p>
        </div>
        <div class="organizations-item" *ngIf="organizations.length > 0">
            <div *ngFor="#organization of organizations">
                <p>{{ organization.name }}</p>
                <div [ngSwitch]="user == organization.owner">
                    <div *ngSwitchWhen="true">
                        <span>OWNER</span>
                    </div>
                    <div *ngSwitchWhen="false">
                        <span>MEMBER</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
