<toolbar></toolbar>
<div class="container">

    <error-dialog [messages]="errorMessages"></error-dialog>

    <div class="row">
        <div class="col-md-3 ptop">
            <img id="userprofile-picture" src="{{ user.profilePictureUrl }}">
        </div>

        <div class="col-md-7 userprofile-details">
            <h1 id="user-username"><b>{{ user.username }}</b></h1>
            <h3 id="user-fullname">{{ user.fullName }}</h3>
            <h3 id="user-email">{{ user.email }}</h3>
        </div>

        <div class="col-md-2 ptop">
            <p *ngIf="canEdit" class="profile-button" (click)="editProfile()"><span class="glyphicon glyphicon-edit"></span> EDIT PROFILE</p>
        </div>
    </div>

    <div class="row organizations">
        <div *ngIf="invitations.length > 0">
            <h2>Invitations</h2>
            <p *ngIf="invitations.length == 1">You have 1 open invitation.</p>
            <p *ngIf="invitations.length != 1">You have {{ invitations.length }} open invitations.</p>

            <invitations [invitations]="invitations"></invitations>

        </div>
    </div>

    <div class="row organizations">
        <h2>Organizations</h2>

        <div *ngIf="organizations.length == 0">
            <p>{{ user.fullName }} is not part of any organizations.</p>
        </div>
        <div *ngIf="organizations.length > 0">
            <p>{{ user.fullName }} is part of {{ organizations.length }} organization(s).</p>
        </div>
        <table class="organizations-item table table-striped" *ngIf="organizations.length > 0">
            <tr>
                <th>Organization</th>
                <th>Membertype</th>
            </tr>
            <tr *ngFor="#organization of organizations">
                <td>{{ organization.name }}</td>
                <td [ngSwitch]="user.userId == organization.owner.userId">
                    <span *ngSwitchWhen="true"><span class="glyphicon glyphicon glyphicon-star profile-organization-item"></span>OWNER</span>
                    <span *ngSwitchWhen="false"><span class="glyphicon glyphicon-user profile-organization-item"></span>MEMBER</span>
                </td>
            </tr>
        </table>
    </div>

</div>
