// Vendors
@import "vendors/bootstrap-3.3.6/bootstrap";
// Core
@import "core/variables";
@import "core/mixins";
@import "core/fonts";
@import "core/reset";
// Partials
@import "partials/containers";
@import "partials/controls";
@import "partials/toolbar";
@import "partials/footer";
@import "partials/forms";
@import "partials/spinners";
@import "partials/userprofile";
@import "partials/spans";

body {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  padding-bottom: $footer-height + $default-margin;

  @include user-drag(none);
  @include user-select(none);

  color: $text-color-neutral;

  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#main-content{
  margin-top: 3em;
}

#authentication{
  min-height: 100vh;
  background: transparent url("../img/bg-kandoe.png") no-repeat !important;
  background-size: cover !important;
}

.clear-both {
  clear: both;
}
