// Vendors
@import "vendors/bootstrap-3.3.6/bootstrap";
// Core
@import "core/variables";
@import "core/mixins";
@import "core/fonts";
@import "core/reset";
// Partials
@import "partials/containers";
@import "partials/controls";
@import "partials/toolbar";
@import "partials/footer";
@import "partials/forms";
@import "partials/spinners";
@import "partials/userprofile";
@import "partials/spans";
@import "partials/organization-detail";
@import "partials/errordialog";
@import "partials/invitation";
@import "partials/cards";
@import "partials/session";
@import "partials/dashboard";
@import "partials/titles";

body {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  padding-bottom: $footer-height + $default-margin;

  @include user-drag(none);

  background-color: white;
  color: $text-color-neutral;

  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#main-content{
  margin-top: 3em;
}

#authentication{
  min-height: 100vh;
  background: transparent url("../img/bg-kandoe.png") no-repeat !important;
  background-size: cover !important;
}

.clear-both {
  clear: both;
}

.top-buffer-10 {
  margin-top: 10px !important;
}

h1{
  margin-top: 0 !important;
}
.top-buffer-100 {
  margin-top: 100px;
}