<toolbar></toolbar>

<div id="main-content-detail">
    <div class="container-fluid">
        <div id="organization-detail">
            <div class="row">
                <div class="col-md-9 ptop marDetailLeftTitle">
                    <h1>{{topic.name}}</h1>
                    <p class="description">{{topic.description}}</p>
                </div>
                <div class="col-md-2 ptop">
                    <p class="profile-button" data-toggle="modal" data-target="#myEditModal"><span
                            class="glyphicon glyphicon-edit"></span> EDIT TOPIC</p>
                </div>
            </div>

            <div id="myEditModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <form #organizationForm="ngForm"
                                  (ngSubmit)="onSubmit(categoryForm)"
                                  name="form-new-organization"
                                  role="form">
                                <section class="forms-section">
                                    <h2>Edit Topic Name</h2>

                                    <div class="input-group forms-input-group"
                                         title="Topic name">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-pencil"></i></span>
                                        <input id="topicName"
                                               name="topic-name"
                                               class="form-control"
                                               type="text"
                                               placeholder="Topic name"
                                               required
                                               #organizationName="ngForm"
                                               [(ngModel)]="topic.name"
                                               (ngControl)="topicName">
                                    </div>
                                </section>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" (click)="onEditClick(topic.name)"
                                    data-dismiss="modal">Save
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="fabsContainer">
                <h2 class="marDetailLeftSubTitle">Cards</h2>
                <a class="marButtonLeft materialize-btn-floating materialize-btn-large materialize-waves-effect materialize-waves-light materialize-red"
                   (click)="openCardChooser()"><i class="material-icons">add</i></a>
            </div>

            <div style="margin-left: 4em">
                <ul>
                    <card-detail *ngFor="#card of cards" data-toggle="modal" data-target="#cardModal"
                                 [card]="card"
                                 [cardClassName]="'card-small'"
                                 [clickable]="true"
                                 (cardClick)="onCardClick($event)">
                    </card-detail>
                </ul>
            </div>

            <div id="cardModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog flex-container">
                    <card-detail [card]="currentCard"
                                 [cardClassName]="'card-large'"
                                 class="flex-item"></card-detail>
                </div>
            </div>

            <div class="fabsContainer">
                <h2 class="marDetailLeftSubTitle">Sessions</h2>
                <a class="marButtonLeft materialize-btn-floating materialize-btn-large materialize-waves-effect materialize-waves-light materialize-red"
                   (click)="toAddNewSession(topic.categoryId,topic.topicId)"><i class="material-icons">add</i></a>
            </div>

            <div style="margin-top: 5em;margin-left: 4em">
                <div class="organization-arrow" style="margin-top: -80px">
                    <button class="paginate left" (click)="previousSesPage()" [style.display]="myLeftSesDisplay">
                        <i></i><i></i></button>
                </div>
                <div *ngFor="#session of sessionSubset">
                    <div class="black-block" (click)="toSession(session.sessionId)">
                        <h3 class="text-center">Session {{session.sessionId}}</h3>
                        <h6 class="text-center"><i class="glyphicon glyphicon-user"></i> {{session.participantAmount}}
                            Participant(s)</h6>
                        <h6 class="text-center"></h6>
                    </div>
                </div>
                <div class="organization-arrow" style="margin-top: -80px">
                    <button class="paginate right" style="float: right" (click)="nextSesPage()"
                            [style.display]="myRightSesDisplay"><i></i><i></i></button>
                </div>
            </div>

        </div>
    </div>
</div>

