.btn-large-red {
  cursor: pointer;
  padding: 0;
  width: 60%;
  height: $btn-height;
  background: $primary-color;
  border: 0;
  @include border-radius(3px);
  @include box-shadow(0, 15px, 30px, 0, rgba(255, 255, 255, .1), inset);
  font-size: 16px;
  font-weight: 400;
  color: $text-color-light;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  text-align: center;

  @include transition(all, 0.2s);

  &:hover {
    @include box-shadow(0, -15px, 30px, 0, rgba(255, 255, 255, .05), inset)
  }
  &:active {
    -moz-box-shadow: 0 -15px 30px 0 rgba(255, 255, 255, .05) inset,
    0 5px 8px 0 rgba(0, 0, 0, .1) inset;
    -webkit-box-shadow: 0 -15px 30px 0 rgba(255, 255, 255, .05) inset,
    0 5px 8px 0 rgba(0, 0, 0, .1) inset;
    box-shadow: 0 -15px 30px 0 rgba(255, 255, 255, .05) inset,
    0 5px 8px 0 rgba(0, 0, 0, .1) inset;
  }
}

.cando-button, .cando-form-button-default {
  background: $primary-color;
  color: $text-color-light;
  text-align: center;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  @include border-radius(3px);
}

.cando-form-button-default:disabled {
  background: #CCCCCC;
  color: $color-accent;
}
