.memberprofile-picture{
  width: 30px;
  height:30px;
}

.imageTable{
  width: 50px ;
}

.nameTable{
  width: 100px;
}

#memberTable{
  font-size: 15px;
}

h2{
  margin-top: 0em;
  margin-bottom: 0.5em;
}

#organization-detail{
  margin-left: 2em;
}

.addNewButton{
  cursor: pointer;
  margin-top: 1.5em;
  padding: 0;
  width: 15em;
  height: 3em !important;
  background: #dc3522;
  border: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.1) inset;
  -webkit-box-shadow: 0 15px 30px 0 inset;
  box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.1) inset;
  font-size: 16px;
  font-weight: 400;
  color: #f8f8f8;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

.categoryName{
  font-size: 20px;
  color:$primary-color-dark;
  text-decoration: underline;
  cursor: pointer;
}

.description{
  width: 60%;
  float: left;
}

tr.spaceUnder > td
{
  padding-bottom: 2em;
}