.memberprofile-picture{
  width: 30px;
  height:30px;
}

.imageTable{
  width: 50px ;
}

.nameTable{
  width: 100px;
}

#memberTable{
  font-size: 15px;
}

h2{
  margin-top: 2em;
  margin-bottom: 1em;
}

#organization-detail{
  margin-left: 2em;
}

#newCategoryButton{
  font-size: 20px;
}
