$card-position-corner-radius: 10;
$card-position-card-color: white;
$card-position-card-border-color: $color-accent;
$card-position-card-border-thickness: 5;

/*.field {
  //width: 20px;
  //height: 20px;
  position: absolute;
  background: #f00;

  width: 2em;
  height: 2em;
  cursor: pointer;
  transition: left 0.75s ease-in-out, top 0.75s ease-in-out;
}*/

.game-card-position {
  cursor: pointer;
  //transition: left 0.75s ease-in-out, top 0.75s ease-in-out;
  transition: x 0.75s ease-in-out, y 0.75s ease-in-out;

  // ignore the warnings, this works on SVG elements
  rx: $card-position-corner-radius;
  ry: $card-position-corner-radius;
  fill: $card-position-card-color;
  stroke: $card-position-card-border-color;
}

.game-card-preview-image-icon {
  fill: $color-accent;
}

#card-container{
  //height: 95vh;
  background-color: #f2f2f2;
  -webkit-box-shadow: 21px 10px 32px -12px rgba(173,173,173,0.94);
  -moz-box-shadow: 21px 10px 32px -12px rgba(173,173,173,0.94);
  box-shadow: 21px 10px 32px -12px rgba(173,173,173,0.94);
  //margin-top:-$navbar-margin-bottom;
  //padding: 1em;
  text-align: center;
}

.card-detail-container {
  border: 0.25em solid $color-accent;
  border-radius: 5%;
  //min-height: 25em;
  min-height: 50vh;
  background-color: white;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.75em;

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
  }

  p {
    font-size: 120%;
  }
}

/*#circle-container {
  height:95vh;
  display: block;
}*/

.row {
  margin: 0 !important;
}

#chat-container {
  height: 400px;
  background-color: #f2f2f2;

  @media only screen and (min-width: $breakpoint-tablet){
    height: 95vh;
  }
}

#chatbox {
  overflow-y: scroll;
  max-height: 200px;
  height: 200px;

  @media only screen and (min-width: $breakpoint-tablet){
    max-height: 480px;
    height: 480px;
  }
}

#messagebox {
  display: block;
  margin: 0 auto;
}

.card-name, .chat-title {
  padding-top: 0.5em !important;
  margin-bottom: 0.5em;
}

#chat-input-box {
  margin-top: 1em;
}

.chat-input-area {
  display: block;
  margin: 0.5em auto;
  width: 80%;
}

.chat-picture {
  width: 45px;
}

.chat-username {
  font-weight: bold;
}

.chat-send-button {
  width: 40% !important;
  float: right;
  margin-top: 1em;
}

.chatmessage {
  padding: 0.5em;
}

#main-content{
  margin-top: 0 !important;
}

.arrow{
  font-size: 50px !important;
  text-decoration: none !important;
  color: $primary-color-dark;
}

.arrow:hover{
  color:$primary-color;
}

.arrows{
  margin-right: auto;
  margin-left: auto;
}

.card-image{
  margin-left: auto;
  margin-right: auto;
  max-width:80%;
  max-height: 60%;
  margin-top: 1em;
  margin-bottom: 1em;
  display:block;
}

.card-foot{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  display:block;
  margin-top: 2em;
}

.card-description{
  margin-left: 2em;
  margin-right: 2em;
}

.upvote-button{
  cursor: pointer;
  padding: 0;
  background: #dc3522;
  border: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 0.5em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.1) inset;
  -webkit-box-shadow: 0 15px 30px 0 inset;
  box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.1) inset;
  font-size: 25px;
  font-weight: 400;
  color: #f8f8f8;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

#game-svg-container {
  position: relative;
  line-height: 0;
  //padding-bottom: 100%;
  //vertical-align: middle;
  max-width: 40em;
  margin: auto;

  /*svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }*/

  .svg-circle {
    stroke:$primary-color-dark;
    //stroke-width: 20px;
    stroke-width: 40;
    fill:none;
  }

  .inner-circle{
    //fill:$primary-color-dark;
    /*stroke: $color-accent;
    fill: $color-accent;*/
  }

  .sessionCheckBox{
    margin-right: auto;
    margin-left: auto;
  }
}

#radio-button-group-session{
  color:red;
}
