#userprofile-picture {
  max-height: 100%;
  max-width: 100%;
}

.userprofile-details {
  padding-left: 1em;

}

#user-fullname {
  color: #333333;
  font-weight: 100;
  margin-bottom:0;
}

#user-email {
  color: #aaaaaa;
  margin: 0;
}

.organizations {
  padding:1em;
}

.profile-button {
  cursor: pointer;

  span {
    margin-right: 1em;
  }
}

.organizations-item {
  padding-left: 1em;
  padding-right: 1em;
}

table.organizations-item {
  width: 98%;
  margin: 0 auto;

  td {
    width: 50%;
  }
}

.ptop {
  margin-top: 20px;
}

.profile-edit-name {
  margin-top: 20px;
  width: 49%;
  display: inline;
}

div.profile-edit-name {
  display: inline-block;
  margin-bottom: 0.5em;
}

.profile-edit {
  color: #333333 !important;
  margin-top: 0 !important;
  margin-bottom: 0.5em !important;
  width: 98.5%;
}

.change-avatar {
  margin-top: 0.5em;
}

.fullwidth {
  width: 100%;
}