@import "mixins";

html {
  height: 100%;
  @include box-sizing(border-box);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a{
  cursor: pointer;
}