// Colors
// TODO: define application colors here
$primary-color: rgb(220, 53, 34);
$primary-color-dark: rgb(141, 34, 22);
$primary-color-light: rgb(230, 110, 96);
$color-accent: rgb(42, 44, 43);

$text-color-dark: rgb(79, 79, 79);
$text-color-neutral: rgb(105, 105, 105);
$text-color-light: rgb(248, 248, 248);

$input-height: 2.5em;

$background-color: rgb(245, 245, 245);
$background-transparent-color: rgba(245, 245, 245, 0.85);
$shadow: rgba(0,0,0,.3);


// Dimensions
$default-margin: 0.5em;
$default-padding: 0.5em;
$margin-top-submit: 2em;

$toolbar-height:  $navbar-height;
$footer-height: 5em;
$btn-height: 2.5em;

$text-size-form-subtitle: 1.5em;  

// Media Breakpoints
$breakpoint-tablet: 600px;
$breakpoint-desktop: 1024px;