// Colors
// TODO: define application colors here
$primary-color: rgb(0, 150, 136);
$primary-color-dark: rgb(0, 121, 107);
$primary-color-light: rgb(38, 166, 154);
$color-accent: rgb(255, 196, 0);


// Dimensions
$footer-height: 5em;

// Media Breakpoints
$breakpoint-tablet: 600px;
$breakpoint-desktop: 1024px;
